body
{
  font-family:'none';
}
.entire {
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  position: fixed;
  cursor: pointer;

}

.sideapp {
  padding: 1rem;
  height: 45vw;
  width: 28vh;
  bottom: 0;
  left: 0;
  position: fixed;
  background-color: azure;
}

.sideapp li {
  margin-bottom: 10px;
  padding: 2.5rem;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

.sample {
  float: left;
  padding-left: 1%;
  font-size: larger;
}

a {
  display: block;
  color: #000000;
  padding: 14px 30px;
  text-decoration: none;
  font-weight: bolder;
}


.logout {
  bottom: 9%;
  left: 3%;
  border-radius: 0;
  position: fixed;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

}

.logout {
  background-color: #ff29f8;
  box-shadow: #e414ff 0 -6px 8px inset;
  transform: scale(1.125);
}

.logout:active {
  transform: scale(1.025);
}

.sample1
{
  display: flex;
  padding-top: 1%;
  position: fixed;
  font-weight: 800;
}


.accicon
{
  display: flex;
  justify-content: flex-end;
  padding-top: 15px
}

.user{
  
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  margin-right: 20px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 40px ;
 
}

body .container .card {
  position: relative;
  min-width: 320px;
  height: 400px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;

}



body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #e96efc;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .container .card .box:hover {
  transform: translateY(-50px);
}

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

body .container .card .box .content {
  padding: 20px;
  text-align: center;
}

body .container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

body .container .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
